<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Purlex" %></h1>
  <p>Your personal link shortener</p>
</section>

<section class="row">
  <article class="column">
    <h2>Do it!</h2>
    Text goes here
  </article>
  <article class="column">
    <h2>Help</h2>
    More text
  </article>
</section>
