<div class="jumbotron text-center" style='padding: 1em;'>
  <h1><%= gettext "Welcome to %{name}!", name: "Purlex" %></h1>
  <p>Your personal link shortener</p>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>About</h2>
    Text goes here<br/>
    List of links
  </div>

  <div class="col-md-6">
    <h2>Link Shortener</h2>
    Form: enter your text
  </div>
</div>
