<div class="jumbotron text-center" style='padding: 1em;'>
  <h3 style="margin-top: 10px;">Purlex: A simple link shortener</h3>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <p></p>
    <%= live_render(@conn, PurlexWeb.LinkForm, session: %{url_host: @url_host}) %>
  </div>
  <div class="col-md-3"></div>
</div>
