<h3>LiveView Counter</h3>

<div>
  <h4>The count is: <%= @val %></h4>
  <button phx-click="dec">-</button>
  <button phx-click="inc">+</button>
</div>

<p></p>

<h3>LiveView Clock</h3>

Right now it is <%= @date %>

<p></p>

<h3>LiveView Form</h3>

<form phx-change="validate" phx-submit="save">
  <input type="text" name="q" value="<%= @query %>" placeholder="URL..." />
  </input>
  <%= if @changed, do: "changed" %>
</form>
